[submodule "whisper.cpp"]
	path = whisper.cpp
	url = https://github.com/ggerganov/whisper.cpp
[submodule "llama.cpp"]
	path = llama.cpp
	url = https://github.com/ggerganov/llama.cpp.git
[submodule "RWKV_PEFT"]
	path = RWKV_PEFT
	url = https://github.com/uniartisan/RWKV-PEFT.git